DATABASE_URL="mysql://usuario:senha@host:porta/banco"
DATABASE_HOST="host"
DATABASE_USER="usuario"
DATABASE_PASSWORD="senha"
DATABASE_NAME="banco"
DATABASE_PORT=3306

JWT_SECRET="jwt_secret"

PORT=3000